@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Mercado Ignis</h1>
    <p>Conoce mas acerca de <a href="https://ucu.edu.uy/es/CentroIgnis" target="_blank">Centro Ignis</a>.</p>
</div>