@page
@model ProyectoIgnis.Pages.ProyectosPersonales.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProyectoPersonal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProyectoPersonal.TipoDeProyecto" class="control-label"></label>
                <input asp-for="ProyectoPersonal.TipoDeProyecto" class="form-control" />
                <span asp-validation-for="ProyectoPersonal.TipoDeProyecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoPersonal.TiempoDeRealizacion" class="control-label"></label>
                <input asp-for="ProyectoPersonal.TiempoDeRealizacion" class="form-control" />
                <span asp-validation-for="ProyectoPersonal.TiempoDeRealizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoPersonal.Descripcion" class="control-label"></label>
                <input asp-for="ProyectoPersonal.Descripcion" class="form-control" />
                <span asp-validation-for="ProyectoPersonal.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoPersonal.Estado" class="control-label"></label>
                <input asp-for="ProyectoPersonal.Estado" class="form-control" />
                <span asp-validation-for="ProyectoPersonal.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoPersonal.FechaComienzo" class="control-label"></label>
                <input asp-for="ProyectoPersonal.FechaComienzo" class="form-control" />
                <span asp-validation-for="ProyectoPersonal.FechaComienzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoPersonal.FechaRealizacion" class="control-label"></label>
                <input asp-for="ProyectoPersonal.FechaRealizacion" class="form-control" />
                <span asp-validation-for="ProyectoPersonal.FechaRealizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
