@page "{id:int?}"
@model MercadoIgnis.Pages.Especialidades.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Edit</h1>

<h4>Especialidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Especialidad.ID" />
            <div class="form-group">
                <label asp-for="Especialidad.Area" class="control-label"></label>
                <input asp-for="Especialidad.Area" class="form-control" />
                <span asp-validation-for="Especialidad.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidad.Nivel" class="control-label"></label>
                <input asp-for="Especialidad.Nivel" class="form-control" />
                <span asp-validation-for="Especialidad.Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
